/* It's just an attempt to connect 
a font created by myself as a training and experiment. 
Most likely it will not be used in the project. */
@font-face {
  font-family: Ante-Regular;
  src: url("../assets/fonts/Ante-Regular.otf")
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #d8a657;
}

/* styling for containers */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

/* styling for navigation */
.navigation_list {
  display: flex;
  justify-content:center;
  list-style: none;
}

.navigation_link {
  padding: 0 0.8rem;
  line-height: 0.8rem;
  text-transform: uppercase;
}

/* styling for photo */
.photo {
  width: 10%;
  height: auto;
}

/* styling for rs school logo */
.rs-logo {
  width: 0.95rem;
  height: auto;
  margin: 0 5px;
}

body {
    /* manipulation to put footer down */
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border for body */
    background-color: #282828;
    color: #a9b665;
    border: 1px solid greenyellow;
  }
  
header {
    /* border for header */
    border: 1px solid red;
  }
  
footer {
    /* border for footer */
    border: 1px solid blueviolet;
    font-family: "Ante-Regular";
    font-size: 0.95rem;
    text-align: center;
    color: #5a524c;
  }
  
/* styling for h1 */
h1 {
  
  }
  
p {
    
  }