/* It's just an attempt to connect 
a font created by myself as a training and experiment. 
Most likely it will not be used in the project or only on footer. */
@font-face {
  font-family: Ante-Regular;
  src: url("../assets/fonts/Ante-Regular.otf") format('opentype');
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #d8a657;
}

.container {
  max-width: 1280px;
  margin:  auto;
  padding: 0 15px;
}

.navigation_list {
  display: flex;
  justify-content:center;
  list-style: none;
}

.navigation_link {
  padding: 0 0.8rem;
  line-height: 0.8rem;
  text-transform: uppercase;
}

.photo {
  width: 10rem;
  height: auto;
}

.rs-logo {
  width: 0.95rem;
  height: auto;
  margin: 0 5px;
}

.icons {
  width: 1.3rem;
  height: auto;
  vertical-align: middle;
  margin-right: 0.1rem;
}

.section {
  margin-bottom: 1.4rem;
}

.section-title {
  font-size: 1.4rem;
  text-transform: uppercase;
}


body {
    /* manipulation to put footer down */
    min-height: 100vh;
    margin: 0; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #282828;
    color: #a9b665;
    font-family: "Kode Mono";
  }
  
header {
  color: #a9b665;
  }

  footer p {
    font-family: 'Ante-Regular';
    font-size: 0.95rem;
    text-align: center;
    color: #5a524c;
}

p {
  font-family: "Kode Mono", monospace;
  font-size: 0.9rem;
  color: #e78a4e
  }

ul {
    list-style-type: disc;
    margin-left: 1.4rem;
}

ul li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #e78a4e
}

strong {
    font-weight: bold;
}